/** common **/
.button {
  @apply relative inline-flex justify-center items-center whitespace-nowrap outline-none transition-colors transition-opacity font-bold no-underline cursor-pointer;
}

button.button {
  flex: 0 0 auto;
}

button.absolute {
  position: absolute;
}

.button--fullWidth {
  @apply flex w-full;
}

.button--mini {
  @apply text-[14px] h-[28px] px-[20px] rounded-6px leading-28px;
}

.button--small {
  @apply text-[14px] h-[32px] px-[24px] rounded-8px leading-32px;
}

.button--normal {
  @apply text-[16px] h-[48px] px-[32px] rounded-10px leading-48px;
}

.button--medium {
  @apply text-[28px] h-[60px] px-[72px] rounded-16px leading-60px;
}

@media screen and (max-width: 767px) {
  .button--mini {
    @apply h-[32px];
  }

  .button--normal {
    @apply px-18px text-16px h-40px leading-40px rounded-8px;
  }

  .button--medium {
    @apply px-18px text-16px h-40px leading-40px rounded-8px;
  }
}

/** disabled & loading **/
.button.is-disabled,
.button.is-loading {
  @apply pointer-events-none;
}

.is-loading {
  @apply hover:opacity-90;
}

button.button.is-disabled:not(.is-loading),
a.button.is-disabled:not(.is-loading) {
  @apply bg-grey-normal-hover bg-opacity-50 text-grey-normal border-transparent;
}

a.button--text.is-disabled,
button.button--text.is-disabled {
  @apply bg-transparent text-#A9ABB2;
}

/* contained button */
.button--contained {
  @apply border-none;
}

.button--contained.button--purple {
  @apply bg-purple-normal text-grey-normal;
}

.button--contained.button--purple:hover,
.button--contained.button--purple:focus-visible {
  @apply bg-purple-normal-hover text-grey-normal-hover;
}

.button--contained.button--gradient {
  @apply text-#110F1B;
  background: linear-gradient(94.26deg, #6667ab 0%, #f0eee9 51.35%, #96d8de 100%);
}

.button--contained.button--gradient:hover,
.button--contained.button--gradient:focus-visible {
  background: linear-gradient(94.26deg, #6667ab 0%, #f0eee9 51.35%, #96d8de 100%);
}

/* text button */
.button--text {
  @apply border-none;
}

.button--text.button--purple {
  @apply bg-transparent bg-opacity-100 text-purple-normal;
}

.button--text.button--purple:hover,
.button--text.button--purple:focus-visible {
  @apply bg-purple-normal bg-opacity-10 text-purple-normal-hover;
}

.button--text.button--white {
  @apply bg-transparent bg-opacity-100 text-grey-normal;
}

.button--text.button--white:hover,
.button--text.button--white:focus-visible {
  @apply bg-grey-normal bg-opacity-10 text-grey-normal-hover;
}

/* outlined button */
.button--outlined {
  @apply bg-transparent;
}

.button--outlined.button--purple {
  @apply border border-purple-normal text-grey-normal;
}

.button--outlined.button--purple:hover,
.button--outlined.button--purple:focus-visible {
  @apply border-purple-normal-hover text-grey-normal-hover;
}

.button__content {
  @apply inline-flex items-center h-full;
}

/** loading **/
.is-loading > .button__content,
.is-loading > .button__icon {
  @apply opacity-0;
}

.button__loading {
  @apply !absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-1.6em;
}

/** start end icon **/
.button__icon + .button__content {
  @apply ml-[.25em];
}

.button__content + .button__icon {
  @apply ml-[.25em];
}

.button__icon {
  @apply w-fit h-fit;
}

.button__icon > svg {
  @apply w-[1.6em] h-[1.6em];
}

/** click effect **/
.button::after {
  @apply absolute inset-0 rounded-[inherit] opacity-0;
  box-shadow: 0 0 0 6px currentColor;
  transition: 0.4s;
  content: '';
}

.button.button:active:not(.button--text):not(.button--link)::after {
  @apply opacity-60;
  box-shadow: none;
  transition: 0s;
}

.button--contained.button--purple::after {
  box-shadow: 0 0 0 6px #d0d0e5;
}
