.linearBorderBox {
  @apply border-2px border-transparent transition-all;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, #24203b, #24203b), linear-gradient(90.83deg, #6667ab 12.22%, #bbbbbb 59.3%, #96D8DE 89.06%);
}

.linearBorderBox.linearBorderBox--withInput {
    background-image: linear-gradient(to right, #24203b, #24203b), linear-gradient(90.83deg, #6667abcc 12.22%, #bbbbbbcc 59.3%, #96D8DEcc 89.06%);
}

.linearBorderBox.linearBorderBox--withInput:focus-within {
    background-image: linear-gradient(to right, #24203b, #24203b), linear-gradient(90.83deg, #6667ab 12.22%, #bbbbbb 59.3%, #96D8DE 89.06%);
}