
.spin {
  animation: spinAnimation 1.35s linear infinite;
  transform-origin: center center;
}

.spin-left {
  fill: url(#spin-left);
}
.spin-right {
  fill: url(#spin-right);
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}
